<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumTestSuite">
    <test name="LoginTest">
        <packages>
            <package name="com.TheTestingAcademy.ex01_18122024"/>
            <package name="com.TheTestingAcademy.ex02_20122024"/>
            <package name="com.TheTestingAcademy.ex03_23122024"/>
            <package name="com.TheTestingAcademy.ex04_30122024"/>
            <package name="com.TheTestingAcademy.ex05_03012025"/>
            <package name="com.TheTestingAcademy.Task"/>
        </packages>
    </test>
</suite>